@import "../../variables";

.catalogue {
  width: 100%;

  &-image {
    width: 160px;
    height: 100px;
  }
  &-name {
    color: $primary-color;
    font-size: 3rem;
    font-weight: 700;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(169, 196, 255);

    div {
      padding: 1rem 0;
      width: 30rem;
    }
  }
  &-type {
    text-transform: capitalize;
  }
}

.label {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(0, 67, 105);
}
