.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  a {
    color: #333;
    padding: 0.6rem 1rem;
    border: 2px solid rgb(85, 85, 85);

    &:hover {
      border: 2px solid rgba(85, 85, 85, 0.671);
    }
  }
}
