@import "../../../variables";

.btn-large {
  button {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1.3rem 2.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    margin: 2rem;

    @media screen and (max-width: $breakpoint-width) {
      margin: 1rem;
    }
  }
  &.danger {
    button {
      color: #fff;
      border: 1px solid #e00d57;
      background-color: #e00d57;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #9a0036;
        border: 1px solid #9a0036;
        cursor: pointer;
      }
      &:active {
        background-color: #9a00369d;
      }
    }
  }

  &.default {
    button {
      color: $primary-color;
      border: 1px solid rgb(197, 197, 197);
      background-color: #ffffff;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #cecece;
        cursor: pointer;
      }
      &:active {
        background-color: #cecece94;
      }
    }
  }
  &.success {
    button {
      color: #fff;
      border: 1px solid #37b937;
      background-color: #37b937;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #30a030;
        cursor: pointer;
      }
      &:active {
        background-color: #30a0306c;
      }
    }
  }
  @media screen and (max-width: $breakpoint-width) {
    button {
      padding: 0.8rem 1.7rem;
      font-size: 1.3rem;
    }
  }
}
