@import "../../variables";

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navlist {
    display: flex;
    flex-direction: row;

    li {
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      transition: all 0.2s ease-out;

      a {
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        color: $primary-color;
      }

      &:hover {
        background-color: rgb(36, 136, 218);

        a {
          color: #fff;
        }
      }
    }
  }

  &.darkTheme {
    background-color: $background-dark;

    .navlist {
      li {
        a {
          color: $white-color;
        }

        &:hover {
          background-color: $white-color;

          a {
            color: $primary-color;
          }
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
    padding: 1rem;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    > div {
      position: relative;
      height: 2px;
      width: 3rem;
      background-color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > div::before,
    > div::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $primary-color;
    }

    > div::before {
      transform: translateY(-10px);
    }
    > div::after {
      transform: translateY(10px);
    }

    &.open {
      transform: rotate(45deg);

      > div::before {
        opacity: 0;
      }

      > div::after {
        transform: rotate(-90deg);
      }
    }

    &.darkTheme {
      > div {
        background-color: #fff;
      }
      > div::before,
      > div::after {
        background-color: #fff;
      }
    }
  }

  @media screen and (max-width: "600px") {
    .navlist {
      display: none;

      &.show {
        position: absolute;
        top: 6rem;
        right: 0;
        background-color: rgba(142, 183, 238, 0.95);
        border-radius: 0 0 0 5px;
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: flex-start;

        a {
          font-size: 2rem;
          color: #fff;

          &:hover {
            color: $primary-color;
            border-bottom: none;
          }
        }
      }
    }

    .hamburger-menu {
      display: flex;
    }
  }
}
