$primary-color: #394957;
$blue-light: #0698d9;
$blue-light-transparent: rgba(6, 152, 217, 0.8);
$grey-dark-transparent: rgba(57, 73, 87, 0.8);
$test: rgba(8, 133, 191, 0.6);
$breakpoint-width: 600px;

$background-dark: rgb(0, 11, 41);
$background-dark-light: rgb(49, 53, 66);

$white-color: rgb(245, 245, 245);
