.button-solid {
  padding: 1rem 1rem;
  background-color: transparent;
  border: 2px solid rgb(243, 243, 243);

  span {
    margin-right: 5px;
    color: rgb(194, 194, 194);
  }

  i {
    color: rgb(194, 194, 194);
  }
}
